* { 
        box-sizing: inherit;
        margin: 0;
        padding: 0;
}

html {
                box-sizing: border-box;
        }

body {
        background-color: white;
        color: #000;
        overflow-x: hidden;
}

.wrapper {
        margin: 0 auto;
        max-width: 1440px;
}

span, img, a {
        display: block;
}

a {
        text-decoration: none;
        color: #000;
}

@keyframes animateActive {
        from {
                width: 0;
                opacity: 0;
        }

        to {
                width: 100%;
                opacity: 1;
        }
}

